In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import csv
import os
import sqlalchemy
import pymysql
from urllib.parse import quote
from dotenv import load_dotenv

In [2]:
#getting database password
load_dotenv()
password = os.getenv('DB_PASSWORD')

In [3]:
#creates 
DBengine = sqlalchemy.create_engine("mysql+pymysql://student:{}@localhost:3306/dublinbus".format(quote(password)))

In [4]:
line = 84 #bus line
direction = 1 #values of 1 or 2
df = pd.read_sql('call dublinbus.trip_leavetimes_join({}, {});'.format(line, direction) #using stored procedure
                 , DBengine)

In [5]:
df

,dayofservice,tripid,lineid,routeid,direction,progrnumber,stoppointid,tripPlannedArr,tripPlannedDep,tripActualArr,tripActualDep,stopPlannedArr,stopPlannedDep,stopActualArr,stopActualDep,vehicleid
0,01-JAN-18 00:00:00,5955785,84,84_27,1,2.0,3082.0,40879,36600,41351.0,36583.0,36643.0,36643.0,36617.0,36629.0,2534807.0
1,01-JAN-18 00:00:00,5955785,84,84_27,1,4.0,3114.0,40879,36600,41351.0,36583.0,36762.0,36762.0,36782.0,36790.0,2534807.0
2,01-JAN-18 00:00:00,5955785,84,84_27,1,5.0,3115.0,40879,36600,41351.0,36583.0,36798.0,36798.0,36819.0,36819.0,2534807.0
3,01-JAN-18 00:00:00,5955785,84,84_27,1,6.0,3116.0,40879,36600,41351.0,36583.0,36859.0,36859.0,36867.0,36867.0,2534807.0
4,01-JAN-18 00:00:00,5955785,84,84_27,1,7.0,3117.0,40879,36600,41351.0,36583.0,36927.0,36927.0,36905.0,36905.0,2534807.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420157,26-DEC-18 00:00:00,8589330,84,84_28,1,NaN,NaN,75780,71700,76038.0,71375.0,NaN,NaN,NaN,NaN,NaN
420158,30-DEC-18 00:00:00,8589330,84,84_28,1,NaN,NaN,75780,71700,76597.0,69994.0,NaN,NaN,NaN,NaN,NaN
420159,23-DEC-18 00:00:00,8589332,84,84_27,1,NaN,NaN,88316,84600,88717.0,84630.0,NaN,NaN,NaN,NaN,NaN
420160,26-DEC-18 00:00:00,8589332,84,84_27,1,NaN,NaN,88316,84600,88279.0,84552.0,NaN,NaN,NaN,NaN,NaN
420161,30-DEC-18 00:00:00,8589332,84,84_27,1,NaN,NaN,88316,84600,88445.0,84595.0,NaN,NaN,NaN,NaN,NaN