In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import csv
import os
import sqlalchemy
import pymysql
from urllib.parse import quote
from dotenv import load_dotenv

In [2]:
#getting database password
load_dotenv()
password = os.getenv('DB_PASSWORD')

In [3]:
#creates 
DBengine = sqlalchemy.create_engine("mysql+pymysql://student:{}@localhost:3306/dublinbus".format(quote(password)))

In [28]:
line = 84 #bus line
direction = 1 #values of 1 or 2
dfBase = pd.read_sql('call dublinbus.trip_leavetimes_join({}, {});'.format(line, direction) #using stored procedure
                 , DBengine)

In [29]:
dfBase.head(3)

,dayofservice,tripid,lineid,direction,progrnumber,stoppointid,tripPlannedArr,tripPlannedDep,tripActualArr,tripActualDep,stopPlannedArr,stopPlannedDep,stopActualArr,stopActualDep,vehicleid
0,01-JAN-18 00:00:00,5955785,84,1,2,3082,40879,36600,41351.0,36583.0,36643,36643,36617,36629,2534807
1,01-JAN-18 00:00:00,5955785,84,1,4,3114,40879,36600,41351.0,36583.0,36762,36762,36782,36790,2534807
2,01-JAN-18 00:00:00,5955785,84,1,5,3115,40879,36600,41351.0,36583.0,36798,36798,36819,36819,2534807

In [30]:
df = dfBase.drop(columns = ['vehicleid','tripPlannedArr','tripPlannedDep','tripActualArr','stopPlannedDep', 'stopPlannedArr'])
df.head(3)

,dayofservice,tripid,lineid,direction,progrnumber,stoppointid,tripActualDep,stopActualArr,stopActualDep
0,01-JAN-18 00:00:00,5955785,84,1,2,3082,36583.0,36617,36629
1,01-JAN-18 00:00:00,5955785,84,1,4,3114,36583.0,36782,36790
2,01-JAN-18 00:00:00,5955785,84,1,5,3115,36583.0,36819,36819

In [31]:
df.dayofservice = pd.to_datetime(df.dayofservice, format="%d-%b-%y %H:%M:%S")
df.head(3)

,dayofservice,tripid,lineid,direction,progrnumber,stoppointid,tripActualDep,stopActualArr,stopActualDep
0,2018-01-01,5955785,84,1,2,3082,36583.0,36617,36629
1,2018-01-01,5955785,84,1,4,3114,36583.0,36782,36790
2,2018-01-01,5955785,84,1,5,3115,36583.0,36819,36819

In [32]:
df.dtypes

dayofservice     datetime64[ns]
tripid                    int64
lineid                   object
direction                 int64
progrnumber               int64
stoppointid               int64
tripActualDep           float64
stopActualArr             int64
stopActualDep             int64
dtype: object

In [33]:
df.tripActualDep = df.tripActualDep.astype('Int64')

In [34]:
df.dtypes

dayofservice     datetime64[ns]
tripid                    int64
lineid                   object
direction                 int64
progrnumber               int64
stoppointid               int64
tripActualDep             Int64
stopActualArr             int64
stopActualDep             int64
dtype: object

In [55]:
df.sort_values(by = ['dayofservice', 'tripActualDep', 'progrnumber'], inplace=True)

In [57]:
df = df.reset_index(drop=True).dropna(subset='tripActualDep')

In [58]:
df.head(3)

,dayofservice,tripid,lineid,direction,progrnumber,stoppointid,tripActualDep,stopActualArr,stopActualDep
0,2018-01-01,5955785,84,1,1,7188,36583,36583,36583
1,2018-01-01,5955785,84,1,2,3082,36583,36617,36629
2,2018-01-01,5955785,84,1,3,7660,36583,36721,36721

In [ ]:
df2

In [80]:
df[df.progrnumber == 1]

,dayofservice,tripid,lineid,direction,progrnumber,stoppointid,tripActualDep,stopActualArr,stopActualDep
7606,2018-01-05,5966321,84,1,1,7188,56904,56904,56904
7607,2018-01-05,5966321,84,1,2,3082,56904,56987,57060
7608,2018-01-05,5966321,84,1,3,7660,56904,57105,57105
7609,2018-01-05,5966321,84,1,4,3114,56904,57168,57181
7610,2018-01-05,5966321,84,1,5,3115,56904,57207,57207
7611,2018-01-05,5966321,84,1,6,3116,56904,57255,57255
7612,2018-01-05,5966321,84,1,7,3117,56904,57317,57317
7613,2018-01-05,5966321,84,1,8,3118,56904,57330,57341
7614,2018-01-05,5966321,84,1,9,3119,56904,57367,57367
7615,2018-01-05,5966321,84,1,10,3120,56904,57627,57649
7616,2018-01-05,5966321,84,1,11,3122,56904,57682,57682
7617,2018-01-05,5966321,84,1,12,3123,56904,57697,57697
7618,2018-01-05,5966321,84,1,13,3124,56904,57718,57739
7619,2018-01-05,5966321,84,1,14,3125,56904,57864,57864
7620,2018-01-05,5966321,84,1,15,3126,56904,57993,58016
7621,2018-01-05,5966321,84,1,16,3127,56904,58056,58056
7622,2018-01-05,5966321,84,1,17,3128,56904,58078,58091
7623,2018-01-05,5966321,84,1,18,7638,56904,58322,58322
7624,2018-01-05,5966321,84,1,19,3130,56904,58344,58344
7625,2018-01-05,5966321,84,1,20,3131,56904,58363,58363
7626,2018-01-05,5966321,84,1,21,3132,56904,58383,58383
7627,2018-01-05,5966321,84,1,22,3133,56904,58399,58399
7628,2018-01-05,5966321,84,1,23,5046,56904,58520,58535
7629,2018-01-05,5966321,84,1,24,7639,56904,58618,58666
7630,2018-01-05,5966321,84,1,25,3134,56904,59095,59104
7631,2018-01-05,5966321,84,1,26,3135,56904,59156,59203
7632,2018-01-05,5966321,84,1,27,3136,56904,59256,59256
7633,2018-01-05,5966321,84,1,28,3138,56904,59313,59313
7634,2018-01-05,5966321,84,1,29,3139,56904,59388,59405
7635,2018-01-05,5966321,84,1,30,4124,56904,59434,59434
7636,2018-01-05,5966321,84,1,31,4125,56904,59469,59469
7637,2018-01-05,5966321,84,1,32,4126,56904,59480,59480
7638,2018-01-05,5966321,84,1,33,4127,56904,59511,59511
7639,2018-01-05,5966321,84,1,34,4128,56904,59533,59533
7640,2018-01-05,5966321,84,1,35,4129,56904,59731,59787
7641,2018-01-05,5966321,84,1,36,4130,56904,59897,59897
7642,2018-01-05,5966321,84,1,37,4131,56904,59920,59920
7643,2018-01-05,5966321,84,1,38,7294,56904,59985,60049
7644,2018-01-05,5966321,84,1,39,4156,56904,60134,60134
7645,2018-01-05,5966321,84,1,40,4168,56904,60167,60319
7646,2018-01-05,5966321,84,1,41,4170,56904,60391,60406
7647,2018-01-05,5966321,84,1,42,4132,56904,60641,60680
7648,2018-01-05,5966321,84,1,43,4134,56904,60777,60777
7649,2018-01-05,5966321,84,1,44,4135,56904,60807,60807
7650,2018-01-05,5966321,84,1,45,4136,56904,60879,60892
7651,2018-01-05,5966321,84,1,46,4207,56904,60924,60924
7652,2018-01-05,5966321,84,1,47,4208,56904,60959,60959
7653,2018-01-05,5966321,84,1,48,4209,56904,61034,61034
7654,2018-01-05,5966321,84,1,49,4210,56904,61052,61052
7655,2018-01-05,5966321,84,1,50,4211,56904,61067,61067
7656,2018-01-05,5966321,84,1,51,4212,56904,61105,61105
7657,2018-01-05,5966321,84,1,52,4213,56904,61125,61125
7658,2018-01-05,5966321,84,1,53,5139,56904,61148,61148
7659,2018-01-05,5966321,84,1,54,4214,56904,61196,61208
7660,2018-01-05,5966321,84,1,55,4215,56904,61286,61286
7661,2018-01-05,5966321,84,1,56,4216,56904,61315,61357
7662,2018-01-05,5966321,84,1,57,4217,56904,61406,61406
7663,2018-01-05,5966321,84,1,58,4218,56904,61431,61441
7664,2018-01-05,5966321,84,1,59,4219,56904,61476,61476
7665,2018-01-05,5966321,84,1,60,4220,56904,61503,61503
7666,2018-01-05,5966321,84,1,61,4221,56904,61527,61527
7667,2018-01-05,5966321,84,1,62,4222,56904,61562,61582
7668,2018-01-05,5966321,84,1,63,4224,56904,61637,61653
7669,2018-01-05,5966321,84,1,64,4225,56904,61711,61711
7670,2018-01-05,5966321,84,1,65,4226,56904,61732,61732
7671,2018-01-05,5966321,84,1,66,4227,56904,61767,61767
7672,2018-01-05,5966321,84,1,67,4228,56904,61797,61812
7673,2018-01-05,5966321,84,1,68,4229,56904,61835,61835
7674,2018-01-05,5966321,84,1,69,4230,56904,61858,61858
7675,2018-01-05,5966321,84,1,70,4231,56904,61895,61895
7676,2018-01-05,5966321,84,1,71,7352,56904,61932,61932
7677,2018-01-05,5966321,84,1,72,4246,56904,61966,61976
7678,2018-01-05,5966321,84,1,73,4248,56904,62047,62047
7679,2018-01-05,5966321,84,1,74,4249,56904,62071,62071
7680,2018-01-05,5966321,84,1,75,4250,56904,62100,62100
7681,2018-01-05,5966321,84,1,76,4251,56904,62141,62153
7682,2018-01-05,5966321,84,1,77,4252,56904,62187,62187
7683,2018-01-05,5966321,84,1,78,4253,56904,62229,62229
7684,2018-01-05,5966321,84,1,79,4254,56904,62298,62307
7685,2018-01-05,5966321,84,1,80,6137,56904,62385,62385
7686,2018-01-05,5966321,84,1,81,4256,56904,62439,62439
7687,2018-01-05,5966321,84,1,82,4257,56904,62479,62479
7688,2018-01-05,5966321,84,1,83,4258,56904,62542,62542
7689,2018-01-05,5966321,84,1,84,4259,56904,62601,62601
7690,2018-01-05,5966321,84,1,85,7272,56904,62617,62617
7691,2018-01-05,5966321,84,1,86,4956,56904,62681,62681

In [70]:
line

84